.container {
  max-width: 1200px; /* Limits how wide the content can get */
  margin: 0 auto;    /* Centers the container horizontally */
  padding: 0 20px;   /* Prevents content from touching edges on small screens */
}


body {
  font-family: Georgia, serif;
color:white
}