.maintitle {
    text-align: left;
    font-family: "Impact";
    color: #7866d3;
    font-size: 75px;
    margin-top: 50px;
    margin-left: 19px;
    margin-bottom: 0px;
}

.title2 {
    text-align: left;
    font-family: "Arial Black";
    color: #7866d3;
    font-size: large;
    margin-left: 20px;
    margin-top: 0px;
}

.scope {
    align-content: right;
    margin-right: 20px;
}

.maintext {
     font-family: "Arial Black";
    color: #7866d3;
    text-align: center;
    
    
}

.secondtext {
     font-family: "Arial Black";
    color: #0f0831;
}

.highlight1 {
    background-color: #7866d3;
    margin: 0;
    padding: 50px 40px;
    font-family: "Arial Black";
    color: #0f0831;
}

.normal {
    background-color: #0f0831;
    margin: 0;
    padding: 20px 40px;
}

.img1 {
    border: 10px #7866d3;
}

.link {
    color: #7866d3;
    font-family: "Arial Black";
    font-size: 20px;
    padding: 20px 60px;
    margin-top: 0px;
}

.link2 {
    color: #7866d3;
    font-family: "Arial Black";
    font-size: 20px;
    padding: 60px;
    margin-right: 20px;
    text-align: right;
}
