.maintitle {
    text-align: center;
    font-family: 'Arial Black';
    color: #7866D3;
}

.maintext {
    color: #7866D3;
}

.secondtext {
    color: #0F0831;
}

    .highlight1 {
      background-color: #7866D3;
    margin: 0;
    padding: 50px 40px;
    font-family: 'Arial Black';
    color: #0F0831
    }

    .normal {
      background-color: #0F0831;
    margin: 0;
    padding: 20px 40px;
    }