body {
    font-family: cursive;
    text-align: center;
    color: white;
}

navy {
    font-family: cursive;
    text-align: center;
    color: midnightblue;
     max-width: 600px;
}
.lefttext {
    text-align: left;
}
.titletext {
    font-size: xx-large;
}
.blacktext {
    color: black;
     max-width: 600px;
}

.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
