.center-container {
  text-align: center;
}

body {
  color: white;
}
.center-text {
  text-align: center;
}
img {
  border: 10px solid white;
  /* border-radius: 20px 50px 100px 70px
  /*border-color: white;*/
}

p {
  font-family: "Tahoma";
  font-style: normal;
}
b {
  font-family: "Tahoma";
  font-style: normal;
}
h1 {
  font-style: italic;
}

a {
  color: lightblue;
}
